@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Silkscreen&display=swap');
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #3316b8;
    color: #eafd41;
}

h1 {
    font-family: "Silkscreen",cursive;
    font-size: 60px;
}

h2 {
    font-family: "Silkscreen",cursive;
    font-size: 40px;
}

#buttons {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
    text-align: center;
    justify-content: center;
}

#buttons button{
    font-family: "Roboto Condensed",sans-serif;
    font-size: 40px;
    padding: 50px;
    background-color: #eafd41;
    color: #160b49;
    width: 300px;
}

#game {

}

#game div{

}

#score {

}

#score div {

}

#score div div {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 70px;
}

#rounds {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
}