@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Silkscreen&display=swap');
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1 {
    font-family: "Silkscreen",cursive;
    font-size: 60px;
}

h2 {
    font-family: "Silkscreen",cursive;
    font-size: 40px;
}

p {

}

#header {

}

#buttons {
    
}

#buttons button{
    font-family: "Roboto Condensed",sans-serif;
    font-size: 40px;
}

#game {

}

#game div{

}

#score {

}

#score div {

}

#score div div {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 70px;
}

#rounds {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
}